/*Colores principales*/
:root {
    --main-color: #005195;
    --color_gold: #B4AA9B;
    --color_white: #005195;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: url('../imgs/background.png') fixed center;
    background-size: cover;
}

.page-content {
    flex: 1; /* Permite que .page-content ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.footer_section{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    padding: 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*contenedor del form*/
.wrapper{
    width: 420px;
    background: transparent;
    color:var(--color_white);
    border-radius: 3%;
    padding: 5% 10% 3%;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 5%;
}

.wrapper h2{
    font-size: 2em;
    text-align: center;
}
/*Contenedores individuales de inputs*/
.wrapper .input-box {
    position: relative; /*Auxiliar para ubicar icons*/
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
/*inputs*/
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(0,81,149,0.8); /*rgba(255,255,255,0.2);*/
    border-radius: 40px;
    color: var(--color_white);
    padding: 20px 45px 20px 20px; /*ubicar contenido del input*/
}
.input-box input::placeholder{
    color:var(--color_white);
}
/*ubicar icos*/
.input-box i{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: var(--color_white);
    margin-right: 3px;
}

.remember-forgot a{
    color: var(--color_white);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: var(--color_white);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 rgba(0,0,0,0.1);
    cursor:pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.wrapper .register-link{
    color: var(--color_white);
    text-decoration: none;
    margin:20px 0 15px;
}

.register-link p a{
    color:var(--color_white);
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}

.wrapper button:hover{
   /* background: var(--main-color);
    color: #fff;*/
    background: #fff ;
    color: var(--main-color);
}

/*Titulo h1*/
.text-box{
    color:var(--color_white);
}

.text-box h1{
    font-size: 3.7em;
    padding-bottom: 1%;
    color: transparent;
    -webkit-text-stroke: 2px #005195;
    background: url("../imgs/back.png") 0 0;
    -webkit-background-clip: text;
    animation: back 60s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

#logoInicio, #logoInicio2, #logoInicio3,#logoInicio4 {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
}

#logoInicio3 {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
}

#tittle,#tittle2,#tittle3,#tittle4,#logoInicio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#h2RecuperarP, #h2ActualizarP{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.LAB{
    color:var(--color_white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.wrapper-register{
    padding: 3% 7% 0;
}

.wrapper-register .input-box {
    margin: 15px 0;
    height: 40px;
}
#registrarseForm, #recuperarPasswordForm, #actualizarPasswordFor {
    margin: auto;
}

#nombreUsuario,
#correo, #correoR
#numNomina, #nominaR,
#password, #password2
{
    margin-bottom: 0;
    font-size: 0.9rem;
}
#divIngresar {
    padding: 0;
    margin: 1% 0 0;
}
#recuperarP,#registrarse {
    padding: 10px;
    margin-bottom: 0;
}
#registrarseh2{
    font-size: 1.5rem;
 }

.register-link {
    margin-top: 0;
    margin-bottom: 0;
}
#divFormRecuperar{
    width: 525px;
}
#actualizarPassword{
    margin-bottom: 1.5rem;
}

@media (max-width: 425px){
    .wrapper{
        width: 300px;
        font-size: 0.8rem;
        padding: 7% 5% 5%;
    }
    .wrapper input{
        font-size: 0.9rem;
    }

    .text-box h1{
        font-size: 2.8em;
    }
    #divTitle3 h1{
        font-size: 2em;
    }
    .wrapper .remember-forgot{
        font-size: 0.7rem;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
    }
    .wrapper .input-box {
        margin: 25px 0;
    }
    #divFormRecuperar{
        width: 300px;
    }
}
.popup-form .invalid-feedback {
    color: #E10014;
    font-size: 0.8rem;
    margin-left: 1rem;
    display: none;
}


.invalid-feedback {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    color: #dc3545;
}

#registrarseForm .invalid-feedback{
    font-size: 0.5rem;
    text-align: center;
}

#registrarseForm .invalid-feedback{
    margin-top: 0;
}

@media (max-width: 1366px) {

    .wrapper {
        width: 380px;
        padding: 3% 6% 3%;
        margin-bottom: 0;
    }

    .wrapper h2 {
        font-size: 1.5em;
    }

    .text-box h1 {
        font-size: 3em;
    }

    #logoInicio, #logoInicio2, #logoInicio3, #logoInicio4 {
        width: 5rem;
        height: 5rem;
        margin-bottom: 1.5em;
    }

    #logoInicio3 {
        width: 4.5rem;
        height: 4.5rem;
    }

    #h2RecuperarP, #h2ActualizarP {
        font-size: 1.4rem;
        margin-top: 1.2rem;
    }

    .wrapper .input-box {
        margin: 20px 0;
        height: 40px;
    }

    .wrapper .remember-forgot {
        font-size: 0.8rem;
    }

    .wrapper .btn {
        height:35px;
        font-size: 15px;
    }

    #divFormRecuperar {
        width: 450px;
    }

    #actualizarPassword {
        margin-bottom: 0.8rem;
    }

    .wrapper .register-link{
        margin: 5px 0 0;
        font-size: 0.8rem;
    }

    .wrapper input{
        font-size: 0.9rem;
    }
    .text-box h1{
        font-size: 2.8em;
    }
    #divTitle3 h1{
        font-size: 2em;
    }
    .wrapper .remember-forgot{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
    }
    .wrapper .input-box {
        margin: 10px 0;
    }
}
