/*Colores principales*/
:root {
    --main-color: #005195;
    --color_gold: #B4AA9B;
    --gold_70: #CAC2B6;

    --color-sky: #82AFD7;
    --blue_70: #A4C6E2;
    --blue_45: #C4DAEC;
    --blue_20: #E5EEF7;
}
body {
    margin: 0;
    padding: 0;
}
#containerNavAdmin{
    padding-top: 0;
    padding-bottom: 0;
}
nav,#containerNavAdmin {
    background-color: var(--main-color);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

/*
nav {
    background-color: var(--blue_20);
    padding: 1rem;
    position: fixed; /* Hace que el nav sea fijo en la pantalla
width: 100%; /* Ajusta el ancho del nav al 100% del viewport
top: 2.5rem; /* Fija el nav en la parte superior de la pantalla
z-index: 1000; /* Ajusta el z-index para asegurarte de que el nav esté por encima de otros elementos
}
 */
nav ul li {
    display: inline-block; /* Cambia float a inline-block para que los elementos se puedan centrar */
    margin-right: 1rem; /* Añade un margen derecho entre los elementos para separarlos */
}

nav ul li a {
    display: block;
    color:var(--color_gold);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
nav ul li a:hover {
    background-color: var(--color_gold);
    color: var(--main-color)
}
.container {
    padding-left: 8rem;
    padding-right: 8rem;
}

h3{
    margin-top: 2rem;
    color: var(--main-color);
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

#tablaClientes thead tr,#tablaPlataformas thead tr, #tablaMateriales thead tr {
    background: #EFEDE9;
}
#tablaClientes thead th,#tablaPlataformas thead th, #tablaMateriales thead th {
    text-align: center;
    color:#EFEDE9;
    margin:0.5rem;
    font-size: 1.3rem;
    background-color: var(--main-color);
}
#tablaClientes tbody td,#tablaPlataformas tbody td, #tablaMateriales tbody td {
    color: #444;
    text-align: center; /* Centrado horizontal */
    vertical-align: middle; /* Centrado vertical */
}
td{
    text-align: center;
}

#tablaClientes tbody tr,#tablaPlataformas tbody tr, #tablaMateriales tbody tr {
    border-bottom: 1px solid #dee2e8;
}
#tablaMateriales img{
    width: 90px;
    height: 60px;
}
.btnEliminar{
    margin-left: 1rem;
}

.btn-primary{
    background-color: var(--main-color);
    border-color: var(--main-color);
}