/*Colores principales*/
:root {
    --main-color: #005195;
    --color_gold: #B4AA9B;
    --gold_70: #CAC2B6;

    --color-sky: #82AFD7;
    --blue_70: #A4C6E2;
    --blue_45: #C4DAEC;
    --blue_20: #E5EEF7;
}
/*Formato general*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    text-size-adjust: 100%;
}
/* Estilos generales */
* {
    box-sizing: border-box;
    font-size: 14px;
}

.body-wrap {
    width: 100%;
    background-color: #f6f6f6;
    margin: 0;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    clear: both;
}

/* Contenido */
.content {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

/* Contenido principal */
.main {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    margin: 0;
}

/* Pie de página */
.footer {
    width: 100%;
    clear: both;
    color: var(--gold_70);
    margin: 0;
    padding: 20px;
}

/* Bloque de contenido */
.content-block {
    margin: 0;
    padding: 0 0 20px;
}

/* Alineación central */
.aligncenter {
    color: var(--blue_45);
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
}
