
/* Colores principales */
:root {
    --main-color: #005195;
    --color_gold: #B4AA9B;
    --gold_70: #CAC2B6;
    --color-sky: #82AFD7;
    --blue_70: #A4C6E2;
    --blue_45: #C4DAEC;
    --blue_20: #E5EEF7;
}

/* Formato general */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    text-size-adjust: 100%;
}

/* Estilo específico para el cuerpo del correo */
body {
    background-color: var(--blue_20);
    margin-top:20px;
}

/* Estilo para el contenedor principal */
.table.body-wrap {
    width: 100%;
    background-color: var(--blue_20);
}

/* Estilo para el contenedor del contenido */
.table.container {
    width: 600px;
    padding: 20px;
    background-color: var(--color_gold);
}

/* Estilo para el encabezado principal */
h1 {
    color: var(--main-color);
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para los enlaces */
a {
    color: var(--main-color);
}

a:hover {
    color: var(--color-sky);
}

/* Estilo para el bloque de contenido */
.content-block {
    margin-bottom: 10px;
}

/* Estilo para el pie de página */
.footer {
    background-color: var(--blue_45);
    padding: 10px;
    text-align: center;
}

.footer a {
    color: var(--color-sky);
}
