* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    text-size-adjust: 100%;
    color: #005195;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.logoGrammer2-img{
    height: 90px;
    width: 152px;
    margin: .1rem  .1rem ;
}

.page-header {
    padding: 0.5rem 1.3rem;
    background: #E9edf2;
    border-bottom: 1px solid #dee2e8;
    margin:0;
}

.page-header h1, h6 {
    color: #005195;
}
 #divRespdf small{
    color: #B4AA9B;
}
.headerLogo{
    display: flex;
    flex-wrap: wrap-reverse;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #E5EEF7;
}
table thead th {
    text-align: center;
    color:#005195;
    font-size: .9rem;
}
table tbody td {
    color: #444;
}
td{
    font-size: 0.9rem;
    text-align: center;
}
th{
    font-size: 0.9rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}
.logoRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logoR {
    align-self: center;
}
.divTitle{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

#containerPruebaPDF{
    padding: 3% 5%;
}
#divRespdf{
    text-align: left;
}
#materialPDF, #titleTablaPDF, #titleTablaPDFg{
    color:#B4AA9B;
    text-align: center;
    background-color: #005195;
}
#materialesResumenPDF thead th{
    font-size: 0.9rem;
}
#datosGeneralesTablePDF th, #resultadosTablePDF th, materialPDF th{
    background-color: #005195;
    color:#fff;
    width: 25%;
    word-wrap: break-word;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
}
#datosGeneralesTablePDF td, #resultadosTablePDF td, materialPDF td{
    word-wrap: break-word;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
}
#tableTitle{
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}
.footer_section{
    color: #005195;
    font-weight: bold;
    padding: 1%;
    margin-top:auto;
    bottom:0;
}
h5{
    padding-bottom: 0.5rem;
    font-weight: bold;
}
#archivoNormaR span, #archivoNormaR, #divUpdate span {
    font-size: 0.9rem;
    color: #444;
}
#archivoNormaR span:hover{
    color: var(--main-color);
}
#containerPruebaR td{
    color: #444;
}