/*Formato general*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    text-size-adjust: 100%;
    color: #005195;
}
body{
    background-color: #f1f4f9;
}
/*Limpiar formato*/
a:link, a:visited, a:active {
    text-decoration:none;
}
.logoGrammer2-img{
    height: 70px;
    width: 115px;
    display: inline-block;
    margin: .1rem  .1rem ;
}
main {
    margin-top: 60px;
}

.page-header {
    padding: 1.3rem 1rem;
    background: #E9edf2;
    border-bottom: 1px solid #dee2e8;
    margin:0;
}

.page-header h1 {
    color: #005195;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: var(--blue_20);
}

table thead th {
    padding: 1rem 0.3rem;
    text-align: center;
    color:#005195;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0.3rem;
    color: #444;
}

td{
    font-size: 1rem;
    text-align: center;
}

table tbody td:first-child {
    padding-left: 1rem;
    color: #005195;
    font-weight: 600;
    font-size: .8rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}
.logoRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logoR {
    align-self: center;
}
.divTitle{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
.footer_section{
    color: #005195;
    font-weight: bold;
    padding: 1%;
    margin-top: auto;
    bottom:0;
}
#containerPruebaPDF{
    padding: 2% 5%;
}
#divRespdf{
    text-align: left;
}
#materialPDF, #titleTablaPDF{
    color:var(--gold_70);
    text-align: center;
    background-color: #005195;
    padding: 0.5%;
}
#materialesResumenPDF thead th{
    padding: 0.3rem;
    text-align: center;
    font-size: 1rem;
}
#datosGeneralesTablePDF th, #resultadosTablePDF th{
    background-color: #005195;
    color:#fff;
    width: 25%;
    word-wrap: break-word;
}