/*Formato general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}
body {
    margin-top: 20px;
    color: #005195;
}
.body-wrap, .container, .content, .main, .footer, .content-block {
    box-sizing: border-box;
}
.body-wrap {
    width: 100%;
    background-color: #f6f6f6;
    margin: 0;
}
.container {
    vertical-align: top;
    display: block;
    max-width: 600px;
    clear: both;
    margin: 0 auto;
}
.content {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.main {
    border-radius: 3px;
    background-color: #fff;
    margin: 0;
    border: 1px solid #e9e9e9;
}
.footer {
    width: 100%;
    margin: 0;
    padding: 20px;
    color: #CAC2B6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.content-block {
    vertical-align: top;
    margin: 0;
    padding: 5%;
    width: 100%;
}
.title {
    padding: 5%;
    text-align: center;
}
.mensaje {
    vertical-align: top;
    text-align: center;
    padding: 2%;
}
#logo {
    background-color: #005195;
    padding-top: 4%;
    background-image: url('https://grammermx.com/Metrologia/MetroTickets/imgs/logoWhite.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
#attn {
    text-align: center;
    padding: 2%;
}
.link {
    color: #CAC2B6;
}
.aligncenter {
    box-sizing: border-box;
    font-size: 12px;
    padding: 0 0 20px;
    margin: 0 auto;
}
.aligncenter a {
    text-decoration: none;
    color: #82AFD7;
    float: none;
    vertical-align: middle;
}
